.about-wrapper {
  height: 35em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-text {
  position: relative;
  width: 51em;
  height: 20em;
  color: whitesmoke;
}
.hidden {
  display: none;
}
.showPieChart {
  display: flex;
  position: absolute;
  left: -80em; /*Esconde na esquerda*/
  width: 50em;
  height: 20em;
  -webkit-animation: slide-in 1.5s forwards;  /*slide-in = aparece pela esquerda*/
  animation: slide-in 1.5s forwards;          /*slide-in = aparece pela esquerda*/
}

.storyPieChartInfo h3 {
  font-size: 50px;
  font-family: "GreatVibes", sans-serif;
}

.storyPieChartInfo p {
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
}
@-webkit-keyframes slide-in {
  100% {
    left: 0;
  }
}
@keyframes slide-in {
  100% {
    left: 0;
  }
}
